.hero-image-container {
  position: relative;
  width: 100%;

  > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.hero-block {
  width: 100%;
  padding-bottom: 35%;
}