
$--mofiin-main-red: #ef4733;
$--mofiin-main-orange: #f59b48;
$--mofiin-grey: #9e9e9e;
$--mofiin-dark-grey: #686767;
$--mofiin-light-grey: #f8f8f8;
$--mofiin-light-red: #f7d6d7;
$--mofiin-black: rgb(8, 7, 7);
$--mofiin-white: #fff;
