.adm-banner {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: block;
  width: 120px;
  height: 80px;
  object-fit: contain;

  &--large {
    width: 300px;
    height: 150px;
  }
}